{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-first-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
                <a href="{{ history_link }}" data-toggle="tooltip" title="{{ text_history }}" class="btn btn-default">{{ text_history }}</a>
                <a href="{{ contact_link }}" data-toggle="tooltip" title="{{ text_contact }}" class="btn btn-default">{{ text_contact }}</a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                    <li><a href="#tab-support" data-toggle="tab">{{ tab_support }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">
                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-first-module" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="module_waclient_status" id="input-status" class="form-control">
                                        {% if module_waclient_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-waclient-username">{{ entry_username }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_waclient_username" id="input-waclient-username" class="form-control" value="{{ waclient_username }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-waclient-password">{{ entry_password }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_waclient_password" id="input-waclient-password" class="form-control" value="{{ waclient_password }}" />
                                </div>
                            </div>

                            <div class="form-group">
                                 <div class="col-sm-2">
                                </div>
                                <div class="col-sm-10">
                                   <a href="https://waclient.com/" target="_blank" data-toggle="tooltip" title="{{ test_text }}" class="btn btn-primary">{{ get_token }}</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-waclient-simulation">{{ entry_simulation }}</label>
                                <div class="col-sm-10">
                                    <select name="module_waclient_simulation" class="form-control" id="input-waclient-simulation">
                                        {% if waclient_simulation == 1 %}
                                            <option value="0">{{ entry_no }}</option>
                                            <option value="1" selected>{{ entry_yes }}</option>
                                        {% else %}
                                            <option value="0" selected>{{ entry_no }}</option>
                                            <option value="1">{{ entry_yes }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-waclient-simulation-phone">{{ entry_simulation_phone }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_waclient_simulation_phone" id="input-waclient-simulation-phone" class="form-control" value="{{ waclient_simulation_phone }}" />
                                </div>
                            </div>
                            {% for status in statuses %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-waclient-message-{{ status.order_status_id }}">{{ entry_message }}: {{ status.name }}</label>
                                    <div class="col-sm-10">
                                        <textarea name="module_waclient_message_{{ status.order_status_id }}" id="input-waclient-message-{{ status.order_status_id }}" rows="5" class="form-control waclient_char_count" maxlength="160">{{- attribute(_context, 'waclient_message_'~status.order_status_id) -}}</textarea>
                                        <p>160 {{ entry_characters_left }}</p>
                                        <span class="help-block">{{ entry_available_vars }}: {billing_first_name}, {billing_last_name}, {shipping_first_name}, {shipping_last_name}, {shipping_method}, {payment_method}, {status_comment}, {order_number}, {order_date}, {order_total}, {store_name}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="tab-pane" id="tab-support">
                        {{ text_support }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{{ about_waclient }}
<script type="text/javascript">
    var waclient_char_count = document.getElementsByClassName('waclient_char_count');
    for (var i = 0; i < waclient_char_count.length; i++) {
        var waclient_element = waclient_char_count[i];
        waclient_element.onkeyup = function() {
            var text_length = this.value.length;
            var text_remaining = 160 - text_length;
            this.nextElementSibling.innerHTML = text_remaining + ' {{ entry_characters_left }}';
        };
        var text_length = waclient_element.value.length;
        var text_remaining = 160 - text_length;
        waclient_element.nextElementSibling.innerHTML = text_remaining + ' {{ entry_characters_left }}';
    }
</script>
{{ footer }}
